.headerComponent .header-inner {
  align-items: center;
  padding: 20px 100px 0 120px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.headerComponent .main-background-img {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateY(-20%);
  z-index: -10;
  width: 100%;
}

.headerComponent .active-scroll {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  opacity: 50;
  z-index: 100;
  padding-bottom: 15px;
}

.header-inner .user-name h1 {
  font-size: 45px;
  font-weight: 600;
}

.header-inner .user-name span {
  color: #EC1552;
}

.header-inner .nav-links-list {
  border: solid 1px #fff;
  background-color: #fff;
  padding: 20px 40px 20px 40px;
  border-radius: 100px;
}

.header-inner .nav-links-list ul {
  display: flex;
  gap: 60px;
}

.header-inner .nav-links-list ul li {
  list-style-type: none;
  font-size: 20px;
  cursor: pointer;
}

.header-inner .header-svg-btn {
  display: flex;
  gap: 35px;
  align-items: center;
}

.header-inner .header-svg-btn .header-svg img {
  width: 28px;
  cursor: pointer;
}

.header-inner .header-svg-btn .header-btn button {
  display: flex;
  gap: 15px;
  padding: 20px 40px;
  font-size: 18px;
  border-radius: 100px;
  border: solid 1px #A7A7A7;
  background-color: #fff;
  cursor: pointer;
  transition: .4s ease;
}

.header-inner .sidebar button {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 15px;
  font-size: 14px;
  border-radius: 100px;
  border: solid 1px #A7A7A7;
  background-color: #fff;
  cursor: pointer;
  transition: .4s ease;
}

.header-inner .sidebar button:hover {
  background-color: #000;
  color: #fff;
}

.header-inner .sidebar button img {
  width: 9px;
}

.header-inner .header-svg-btn .header-btn button:hover {
  background-color: #000;
  color: #fff;
}

.header-inner .header-svg-btn .header-btn button img {
  width: 11px;
}

.header-inner .sidebar {
  display: none;
  z-index: 200;
}

.header-inner .sidebar .sidebar-svg svg {
  width: 25px;
  cursor: pointer;
}


.header-inner .sidebar .sidebar-list {
  position: absolute;
  height: 100vh;
  top: 0;
  bottom: 0;
  background-color: #fff;
  width: 271px;
  right: -100%;
  transition: right 0.5s ease-out;
  z-index: 200;
}

.header-inner .sidebar .sidebar-list.open {
  right: 0;
z-index: 200;
}

.header-inner .sidebar .sidebar-list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.header-inner .sidebar .sidebar-list ul li {
  font-size: 22px;
  list-style: none;
  color: #000;
  cursor: pointer;
}

.header-inner .sidebar-moon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-inner .sidebar-moon p {
  font-size: 22px;
}

.dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 271px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 1;
}

.header-inner .closing-background {
  position: absolute;
  bottom: 0;
  border: solid 1px rgba(18, 18, 18, .5);
  background-color: rgba(18, 18, 18, .5);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.header-inner .sidebar-closing-svg {
  background-color: #757575;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0px;
  min-height: 50px;
  height: auto;
}

.header-inner .closing-sidebar-section {
  background-color: rgba(18, 18, 18, .2);
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.header-inner .closing-sidebar-section:hover {
  background-color: rgba(18, 18, 18, .5);
}

.header-inner .sidebar-closing-svg svg {
  width: 18px;
  height: 100%;
  color: #ffff;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}


@media only screen and (max-width: 1290px) {
  .headerComponent .header-inner {
    padding: 20px 20px 10px 20px;
  }

  .header-inner .user-name h1 {
    font-size: 35px;
  }

  .header-inner .nav-links-list ul li {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1190px) {
  .header-inner .nav-links-list {
    display: none;
  }

  .header-inner .sidebar {
    display: block;
  }

  .headerComponent .header-svg {
    position: relative;
    left: 20px;
    display: none;
  }

  .header-inner .header-svg-btn .header-btn button {
    padding: 16px 25px;
    font-size: 16px;
    display: none;
  }

  .header-inner .sidebar button img {
    width: 9px;
  }
}

@media only screen and (max-width: 400px) {
  .header-inner .header-svg-btn .header-btn button {
    display: none;
  }

  .headerComponent .header-svg {
    display: none;
  }
}
