.headerComponent .header-inner {
  align-items: center;
  padding: 20px 100px 0 120px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.overlay {
   background-color: #00000080;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  
}

.headerComponent .main-background-img {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateY(-20%);
  z-index: -10;
  width: 100%;
}

.headerComponent .active-scroll {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  opacity: 50;
  z-index: 100;
  padding-bottom: 15px;
}

.header-inner .user-name h1 {
  font-size: 45px;
  font-weight: 600;
  cursor: pointer;
}

.header-inner .user-name span {
  color: #EC1552;
}

.header-inner .nav-links-list {
  border: solid 1px #fff;
  background-color: #fff;
  padding: 20px 40px 20px 40px;
  border-radius: 100px;
}

.header-inner .nav-links-list ul {
  display: flex;
  gap: 60px;
}

.header-inner .nav-links-list ul li {
  list-style-type: none;
  font-size: 20px;
  cursor: pointer;
}

.header-inner .header-svg-btn {
  display: flex;
  gap: 35px;
  align-items: center;
}

.header-inner .header-svg-btn .header-svg img {
  width: 28px;
  cursor: pointer;
}

.header-inner .header-svg-btn .header-btn button {
  display: flex;
  gap: 15px;
  padding: 20px 40px;
  font-size: 18px;
  border-radius: 100px;
  border: solid 1px #A7A7A7;
  background-color: #fff;
  cursor: pointer;
  transition: .4s ease;
}

.header-inner .sidebar {
  display: none;
  z-index: 10;
}

.header-inner .sidebar button img {
  width: 9px;
}

.header-inner .header-svg-btn .header-btn button:hover {
  background-color: #000;
  color: #fff;
}

.header-inner .header-svg-btn .header-btn button img {
  width: 11px;
}

.headerComponent .sidebar-menu{
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #fff;
  box-shadow: 13px 0 12px 10px #000;
  z-index: 999;
  padding-top: 50px;
  max-width: 230px;
  width: 100%;
  max-height: 100vh;
  height: 100vh;
  transition-duration: 500ms;
  z-index: 999;
}

.header-inner .sidebar .sidebar-button{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.header-inner .sidebar button {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 15px;
  font-size: 14px;
  border-radius: 100px;
  border: solid 1px #A7A7A7;
  background-color: #fff;
  cursor: pointer;
  transition: .4s ease;
}

.header-inner .sidebar button:hover {
  background-color: #000;
  color: #fff;
}

.header-inner .sidebar .sidebar-svg svg {
  width: 25px;
  cursor: pointer;
}

.header-inner .sidebar-list ul{
text-align: center;
display: flex;
flex-direction: column;
gap: 20px;
}

.header-inner .sidebar-list ul li{
color: #000;
  cursor: pointer;
  font-size: 22px;
  list-style: none;
}

.header-inner .sidebar .sidebar-closing-button{
background-color: #757575;
width: 100%;
height: 45px;
position: absolute;
bottom: 0;
}

.header-inner .sidebar .closing-icon {
  cursor: pointer;
  width: 45px;
  background-color: #12121233;
    height: 100%;
    position: absolute;
      right: 0;
}

.header-inner .sidebar .closing-icon:hover{
  background-color: #11101033;
}

.header-inner .sidebar .closing-icon svg{
margin-right: 11px;
margin-top: 7px;
  cursor: pointer;
  width: 23px;
  position: absolute;
  right: 0;
}

@media only screen and (max-width: 1290px) {
  .headerComponent .header-inner {
    padding: 20px 20px 10px 20px;
  }

  .header-inner .user-name h1 {
    font-size: 35px;
  }

  .header-inner .nav-links-list ul li {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1190px) {
  .header-inner .nav-links-list {
    display: none;
  }

  .header-inner .sidebar {
    display: block;
  }

  .headerComponent .header-svg {
    position: relative;
    left: 20px;
    display: none;
  }

  .header-inner .header-svg-btn .header-btn button {
    padding: 16px 25px;
    font-size: 16px;
    display: none;
  }

  .header-inner .sidebar button img {
    width: 9px;
  }
}

@media only screen and (max-width: 400px) {
  .header-inner .header-svg-btn .header-btn button {
    display: none;
  }

  .headerComponent .header-svg {
    display: none;
  }
}
